name: Gerar APK Android

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch: # Permite clicar num botão para gerar manualmente

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar código
      uses: actions/checkout@v3

    - name: Configurar Java 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Configurar Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 8.2

    - name: Tornar Gradlew executável (se existir)
      run: |
        if [ -f gradlew ]; then chmod +x gradlew; fi

    - name: Compilar o APK (Debug)
      # Usamos 'gradle' direto caso o wrapper não tenha subido corretamente via upload web
      run: gradle assembleDebug --stacktrace

    - name: Upload do APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug-apk
        path: app/build/outputs/apk/debug/app-debug.apk

